html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Noto Sans Regular";
  background-color: white;
}

li {
  list-style-type: none;
}

/* Nav */

nav {
  /*  */
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0.7rem;
}

nav li:hover {
  background-color:#e7f59e;
  border-radius: 5px;
}

.Noto {
  font-family: "Noto Sans Regular";
}


/* Fonts */

@font-face {
  font-display: block;
  font-family: "Noto Sans Regular";
  src: url("fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-display: block;
  font-family: "Noto Sans Bold";
  src: url("fonts/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
  font-display: block;
  font-family: "Roboto Mono Regular";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
}