html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Noto Sans Regular";
  background-color: white;
}

li {
  list-style-type: none;
}

/* Nav */

nav {
  /*  */
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0.7rem;
  font-family: "Noto Sans Bold";
}

nav li:hover {
  /* e7f59e */
  background-color:#e7f59e;
  border-radius: 5px;
}

/* Grid */

.grid {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template: repeat(10,50px) / repeat(6, 1fr);
  grid-gap: 5px;
}

/* Main */

.profile {
  grid-area: 2 / 2 / span 3 / span 1;
}

.profile img{
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px #ccc;
}

/* Fonts */

@font-face {
  font-display: block;
  font-family: "Noto Sans Regular";
  src: url("fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-display: block;
  font-family: "Noto Sans Bold";
  src: url("fonts/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
  font-display: block;
  font-family: "Roboto Mono Regular";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
}