html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Noto Sans Bold";
}

body {
  font-family: "Noto Sans Regular";
  background-color: white;
}

li {
  list-style-type: none;
}

/* Nav */

nav {
  /*  */
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.7rem;
  font-family: "Noto Sans Bold";
}

nav li:hover, nav li:active {
  background-color:#e7f59e;
  border-radius: 5px;
}

/* Flex */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Main */

main {
  margin: 2vh 2vw;
}

.profile-image img{
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px #ccc;
}

.profile-text {
  margin: 15px;
}

/* Media queries */

@media screen and (max-width: 592px){
  nav {
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }
}


/* Fonts */

@font-face {
  font-display: block;
  font-family: "Noto Sans Regular";
  src: url("fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-display: block;
  font-family: "Noto Sans Bold";
  src: url("fonts/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
  font-display: block;
  font-family: "Roboto Mono Regular";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
}